@use "sass:math" as math;
@use "@angular/material" as mat;
@use "../helpers" as helpers;

@import url("https://use.typekit.net/swi4hyn.css");

body {
  &.press-theme-uw {
    $primary-color: hsl(18, 34%, 21%);
    $secondary-color: hsl(40, 58%, 36%);
    $accent-color: hsl(44, 69%, 50%);

    $primary-palette: helpers.palette-gen-create-palette($primary-color);
    $accent-palette: helpers.palette-gen-create-palette($accent-color);

    $warn: mat.m2-define-palette(mat.$m2-red-palette);
    $primary: mat.m2-define-palette($primary-palette);
    $accent: mat.m2-define-palette($accent-palette);

    $theme: mat.m2-define-dark-theme(
      (
        color: (
          primary: $primary,
          accent: $accent,
          warn: $warn,
        ),
        typography: helpers.$typo-text-levels,
        density: 0,
      )
    );

    $background-gradient: linear-gradient(
      180deg,
      hsl(18, 34%, 21%) 10%,
      hsl(18, 34%, 15%) 100%
    );

    @include mat.all-component-themes($theme);

    background: $background-gradient !important;
    margin: 0;

    --mdc-elevated-card-container-color: rgba(0, 0, 0, 0.06);
    --mat-app-surface-container-low: rgba(0, 0, 0, 0.06);
  }
}
